<div>
    <h1>Мои заказы</h1>
    <table border=1>
        <thead>
          <tr>
            <th>№ заказа</th>
            <th>Дата заказа</th>
            <th>Название</th>
            <th>Количество</th>
          </tr>
        </thead>
        <tbody>

              <tr *ngFor="let group of data">
                <td>{{group.id_order}}</td>
                <td>{{group.date_order}}</td>
                <td>{{group.name_good}}</td>
                <td>{{group.kolvo}}</td>
              </tr>

        </tbody>
      </table>

      <!-- <table *ngFor="let group of data">
        <tr>
          <td>№ заказа: {{group.id_order}}</td>
          <td>Дата заказа: {{group.date_order}}</td>
        </tr>
        <tr>
          <td>{{group.name_good}}</td>
          <td>{{group.kolvo}}</td>
        </tr> -->
          <!-- <thead>
            <tr>
              <th>№ заказа</th>
              <th>Дата заказа</th>
              <th>Название</th>
              <th>Количество</th>
              <th></th>
            </tr>
          </thead>
          <tbody>

                <tr >
                  <td>{{group.id_order}}</td>
                  <td>{{group.date_order}}</td>
                  <td>{{group.name_good}}</td>
                  <td>{{group.kolvo}}</td>
                  <td>
                  </td>
                </tr>

          </tbody> -->
        <!-- </table> -->

</div>
